<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EventImageMapper">

<!--    批量插入图片数据-->
    <insert id="insertBatch">
        insert into eventimage(EventID, ImageUrl, Status, UploadTime)
        values
        <foreach collection="images" item="image" separator="," open=""  close="">
            (#{image.eventId}, #{image.imageUrl},  #{image.status}, #{image.uploadTime})
        </foreach>

    </insert>
</mapper>