<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RecordMapper">

    <select id="getEventLikeMap" resultType="java.util.Map">
        select
        EventID,count(1) time
        from likerecord
        group by EventID
        having EventID in
        <foreach collection="eventIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getEventCommentMap" resultType="java.util.Map">
        select
        EventID,count(1) time
        from comment
        group by EventID
        having EventID in
        <foreach collection="eventIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectLikeById" resultType="java.lang.Boolean">
        select * from likerecord
        where userID=#{userId} and EventID=#{eventId}
    </select>
</mapper>